<div class="categories">
    <ul class="list-inline">
        <li class="list-inline-item category-item">
            <img src="assets/ico_auberge.png" alt="Hotel" class="category-icon">
            <a routerLink='accueil'></a>
            <div class="category-label">Hotel</div>
        </li>
        <li class="list-inline-item category-item">
            <img src="assets/ico_auberge.png" alt="Résidence" class="category-icon">
            <a routerLink='accueil'></a>
            <div class="category-label">Résidence</div>
        </li>
        <li class="list-inline-item category-item">
            <img src="assets/ico_auberge.png" alt="Piscine" class="category-icon">
            <a routerLink='accueil'></a>
            <div class="category-label">Piscine</div>
        </li>
        <!-- Ajoutez d'autres catégories ici -->
    </ul>
</div>

<!-- fin catégorie  -->

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mx-auto">
            <div class="card rounded">
                <img src="assets/p4.png" class="card-img-top" alt="Image 4">
                <div class="card-body">
                    <h5 class="card-title">Lanviara, Ferké</h5>
                    <h6 class="card-text">Description de l'image 4. <br>Particulier</h6>
                    <p class="card-text">Prix : <b>$20.00</b></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <img src="assets/p1.png" class="card-img-top" alt="Image 1">
                <div class="card-body">
                    <h5 class="card-title">Koumassi, Abidjan</h5>
                    <h6 class="card-text">Description de l'image 1. <br>Particulier</h6>
                    <p class="card-text">Prix : <b>$20.00</b></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <img src="assets/p3.png" class="card-img-top" alt="Image 3">
                <div class="card-body">
                    <h5 class="card-title">Abobo, Abijan</h5>
                    <h6 class="card-text">Description de l'image 3. <br>Particulier</h6>
                    <p class="card-text">Prix : <b>$20.00</b></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card rounded">
                <img src="assets/p4.png" class="card-img-top" alt="Image 4">
                <div class="card-body">
                    <h5 class="card-title">Lanviara, Ferké</h5>
                    <h6 class="card-text">Description de l'image 4.<br>Particulier</h6>
                    <p class="card-text">Prix : <b>$20.00</b></p>
                </div>
            </div>
        </div>
    </div>
</div>